@import "./component";

.container {
  min-width: 100%; //full screen
  padding: 0; //full screen
  /* Opening */
  .opening {
    position: relative;
    height: 100vh; //full screen
    text-align: center;
    background-color: black;
    .typingText {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
      //background-image: url(https://i.gifer.com/TTSO.gif);
      background-size: cover;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      //font-size: 4rem;
      width: 100%;
      padding: 4rem;
    }
    .flaticon-down-sketched-arrow {
      opacity: 0;
      //font-size: 4rem;
      bottom: 5%;
      position: absolute;
    }
  }
  /* About */
  .about {
    min-height: 100vh;
    position: relative;
    .intro {
      width: 100vw;
      padding: 1rem 1rem 1rem 2rem;
      z-index: 1;
      margin-right: auto;
      // position: absolute;  --- for laptop
      // left: 0;  --- for laptop
      // top: 10%; --- for laptop
      // width: 60vw;  --- for laptop
      // padding-left: 3rem;  --- for laptop
      h4 {
        margin-bottom: 2rem;
      }
      h1 {
        margin-bottom: 2rem;
        font-weight: bold;
        text-shadow: 0.5rem 0.5rem 0 $color6; //text shadow: should be px?
      }
      h3 {
        margin-bottom: 2rem;
        padding: 1rem;
        background-color: $accentTr;
      }
      .viewFullProfBtn {
        i {
          margin-right: 0.5rem;
        }
      }
    }
    .photo {
      width: 100vw;
      // width: 50vw; -- for laptop
      // text-align: right; -- for laptop
      img {
        width: 100vw;
        padding: 1rem;
        // width: 50vw; -- for laptop
        overflow-y: hidden;
      }
    }
    /* full profile*/
    .fullProf {
      position: absolute;
      transform: translateX(-100%);
      padding: 2rem 3rem;
      background-image: url(../img/bg1.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      h2 {
        color: $color6;
        font-weight: bold;
        text-shadow: 0.5rem 0.5rem 0.3rem $color4; //text shadow: should be px?
        margin-bottom: 2rem;
      }
      h3 {
        color: $color6;
        font-weight: bold;
        justify-content: space-between;
        margin-bottom: 2rem;
        .backToAboutBtn {
          margin-right: 2rem;
          text-align: right;
          width: fit-content;
          i {
            margin-right: 0.5rem;
          }
        }
      }
      .careerPanel {
        padding: 1rem;
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
        border-left: 1rem $color4 solid;
        &.odd {
          background-color: $color5Tr;
        }
        &.even {
          background-color: $color3Tr;
        }
        h4 {
          span {
            color: $color4;
            font-weight: bold;
          }
        }
        ul {
          list-style: none;
          li {
            i {
              margin-right: 0.5rem;
            }
          }
        }
      }
      .resumeLink {
        margin: 1rem;
        background-color: $accentTr;
        color: $color2;
        border: none;
        padding: 0.5rem 1rem;
        // font-size: 1.5rem;
        width: fit-content;
        &:hover {
          background-color: $color4;
        }
        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
