@import "./component";

body {
  &.modal-active {
    overflow: hidden;
  }
}
.container {
  min-width: 100%; //full screen
  //width: 100%;
  padding: 0; //full screen
  overflow-x: hidden;
  /*Nav bar*/
  .nav {
    position: fixed;
    top: 0;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: $color5;
    z-index: 2;
    opacity: 0;
    .nav-item {
      .nav-link {
        color: $color2;
      }
    }
  }
  /* Opening */
  .opening {
    position: relative;
    height: 100vh; //full screen
    text-align: center;
    background-color: $black;
    .typingText {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
      //background-image: url(https://i.gifer.com/TTSO.gif);
      background-size: cover;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      //font-size: 4rem; ---for laptop
      width: 100%;
      padding: 4rem;
      font-size: 1.5rem;
    }
    .flaticon-down-sketched-arrow {
      opacity: 0;
      //font-size: 4rem; ---for laptop
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2rem;
    }
  }
  /* main sections*/
  .about,
  .skills,
  .work,
  .contact {
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin: 0;
  }
  /* About */
  .about {
    .intro {
      width: 100%;
      padding: 1rem 1rem 1rem 1rem;
      z-index: 1;
      margin-right: auto;
      // position: absolute;  --- for laptop
      // left: 0;  --- for laptop
      // top: 10%; --- for laptop
      // width: 60vw;  --- for laptop
      // padding-left: 3rem;  --- for laptop
      h4 {
        margin-bottom: 1rem;
      }
      h1 {
        margin-bottom: 1rem;
        font-weight: bold;
        text-shadow: 0.5rem 0.5rem 0 $color6; //text shadow: should be px?
      }
      h3 {
        margin-bottom: 2rem;
        padding: 1rem;
        background-color: $accentTr;
      }
      .viewFullProfBtn {
        i {
          margin-right: 0.5rem;
        }
      }
    }
    .photo {
      width: 100%;
      // width: 50vw; -- for laptop
      // text-align: right; -- for laptop
      img {
        width: 100%;
        padding: 1rem;
        // width: 50vw; -- for laptop
        overflow-y: hidden;
      }
    }
    /* full profile*/
    .fullProf {
      position: absolute;
      transform: translateX(-100%);
      padding: 2rem;
      padding-top: 10%;
      background-image: url(../img/bg1.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      h2 {
        color: $color6;
        font-weight: bold;
        text-shadow: 0.5rem 0.5rem 0.3rem $color4; //text shadow: should be px?
        margin-bottom: 2rem;
      }
      h3 {
        color: $color6;
        font-weight: bold;
        justify-content: space-between;
        margin-bottom: 2rem;
        .backToAboutBtn {
          margin-right: 2rem;
          text-align: right;
          width: fit-content;
          i {
            margin-right: 0.5rem;
          }
        }
      }
      .careerPanel {
        padding: 1rem;
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
        border-left: 1rem $color4 solid;
        &.odd {
          background-color: $color5Tr;
        }
        &.even {
          background-color: $color3Tr;
        }
        h4 {
          span {
            color: $color4;
            font-weight: bold;
          }
        }
        ul {
          list-style: none;
          li {
            i {
              margin-right: 0.5rem;
            }
          }
        }
      }
      .resumeLink {
        margin: 1rem;
        background-color: $accentTr;
        color: $color2;
        border: none;
        padding: 0.5rem 1rem;
        // font-size: 1.5rem;
        width: fit-content;
        &:hover {
          background-color: $color4;
        }
        i {
          margin-right: 0.5rem;
        }
      }
    }
  }
  /* Skills */
  .skills {
    background-image: url(../img/bg2.jpg);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
      //color: $color6;
      margin: 1rem 0;
      font-weight: bold;
      text-shadow: 0.5rem 0.5rem 0.1rem $color6; //text shadow: should be px?
      text-align: center;
      font-weight: bold;
    }
    .card {
      position: relative;
      display: block;
      margin: 1rem;
      border: none;
      padding: 1rem;
      background-color: $color3Tr;
      height: 20vh;
      border-left: 1rem $color4 solid;
      text-align: center;
      h3 {
        color: $color4;
        font-weight: bold;
      }
      i {
        font-size: 3em;
      }
    }
    .frontEnd {
      .skillIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }
    .devTool {
      background-color: $color7Tr;
      .toolIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }
    .deployment {
      ul {
        list-style: none;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        li {
          color: $black;
        }
      }
    }
  }
  /* Work */
  .work {
    h2 {
      //color: $color6;
      margin: 1rem 0;
      font-weight: bold;
      text-shadow: 0.5rem 0.5rem 0.1rem $color6; //text shadow: should be px?
      text-align: center;
      font-weight: bold;
    }
    /* default*/
    .projectImg {
      margin: auto;
      margin-bottom: 1rem;
      grid-gap: 0.5rem;
      cursor: pointer;
      img {
        display: block;
      }
    }
    /* when hovered*/
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
      .modal-content {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // width: 100%;
        // height: 100%;
        padding: 2rem 1rem;
        background-color: $blackTr;

        .techStack {
          display: flex;
          justify-content: center;
          list-style: none;
          padding: 0;
          margin-bottom: 0;
          li {
            margin: 0.5rem;
            padding: 0.3rem;
            border: 0.1rem solid $color1Tr;
          }
        }

        .description {
          margin: 1rem 0;
        }

        .projectLinks {
          display: flex;
          flex-direction: row;
          text-align: center;
          justify-content: center;
          a {
            margin: 0.5rem;
            padding: 0.3rem;
            border: 0.1rem solid $color1Tr;
          }
        }
        //   display: flex;
        //   flex-direction: column;
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        //   background-color: $color4Tr;
        //   height: 50%;

        //   .viewWorkBtn {
        //     width: fit-content;
        //     margin: auto;
        //   }
        // }
      }
    }
  }
}
