/* color palette*/
/* basic styling */
body {
  font-size: clamp(12px, calc(0.7rem + 0.4vw), 20px);
  background-color: #7a392c;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

button {
  background-color: #a77f75;
  color: #e5e5e5;
  border: none;
  padding: 0.5rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

button:hover {
  background-color: #e5e5e5;
  color: #161c14;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #161c14;
}

/*Media Query - mobile first breakpoints*/
.container {
  min-width: 100%;
  padding: 0;
  overflow-x: hidden;
  /*Nav bar*/
  /* Opening */
  /* About */
}

.container .nav {
  position: fixed;
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5%;
  background-color: #a77f75;
  z-index: 2;
  opacity: 0;
}

.container .nav .nav-item .nav-link {
  color: #e5e5e5;
}

.container .opening {
  position: relative;
  height: 100vh;
  text-align: center;
  background-color: black;
}

.container .opening .typingText {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
  padding: 4rem;
  font-size: 2rem;
}

.container .opening .flaticon-down-sketched-arrow {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2rem;
}

.container .about {
  min-height: 100vh;
  position: relative;
  padding-top: 10%;
  /* full profile*/
}

.container .about .intro {
  width: 100vw;
  padding: 1rem 1rem 1rem 2rem;
  z-index: 1;
  margin-right: auto;
}

.container .about .intro h4 {
  margin-bottom: 1rem;
}

.container .about .intro h1 {
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem 0 #161c14;
}

.container .about .intro h3 {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #cd7371be;
}

.container .about .intro .viewFullProfBtn i {
  margin-right: 0.5rem;
}

.container .about .photo {
  width: 100vw;
}

.container .about .photo img {
  width: 100vw;
  padding: 1rem;
  overflow-y: hidden;
}

.container .about .fullProf {
  position: absolute;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  padding: 2rem;
  padding-top: 10%;
  background-image: url(../img/bg1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container .about .fullProf h2 {
  color: #161c14;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem 0.3rem #7a392c;
  margin-bottom: 2rem;
}

.container .about .fullProf h3 {
  color: #161c14;
  font-weight: bold;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.container .about .fullProf h3 .backToAboutBtn {
  margin-right: 2rem;
  text-align: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container .about .fullProf h3 .backToAboutBtn i {
  margin-right: 0.5rem;
}

.container .about .fullProf .careerPanel {
  padding: 1rem;
  width: 100%;
  margin: auto;
  margin-bottom: 2rem;
  border-left: 1rem #7a392c solid;
}

.container .about .fullProf .careerPanel.odd {
  background-color: #a77f75be;
}

.container .about .fullProf .careerPanel.even {
  background-color: #b56b16ab;
}

.container .about .fullProf .careerPanel h4 span {
  color: #7a392c;
  font-weight: bold;
}

.container .about .fullProf .careerPanel ul {
  list-style: none;
}

.container .about .fullProf .careerPanel ul li i {
  margin-right: 0.5rem;
}

.container .about .fullProf .resumeLink {
  margin: 1rem;
  background-color: #cd7371be;
  color: #e5e5e5;
  border: none;
  padding: 0.5rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container .about .fullProf .resumeLink:hover {
  background-color: #7a392c;
}

.container .about .fullProf .resumeLink i {
  margin-right: 0.5rem;
}
/*# sourceMappingURL=style.css.map */